.imagepicker-input {
  width: 150px;
  height: 150px;
  opacity: 0;
  position: absolute;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}
.imagepicker-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
}
.imagepicker-preview {
  position: relative;
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 2px solid #c4c9d0;
  border-radius: 5px 5px 5px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-clear-btn{
  border: 2px solid #c4c9d0;
  background-color: #c4c9d0;
}
.image-clear-btn:hover{
  border: 2px solid #8a93a2;
  background-color: #8a93a2;
}
.imagepicker-preview--fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  border: none;
  background-color: rgba(0,0,0,0.5);
}
